<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="FileTagGeneratorApi" value="http://localhost:58813/api/FileTagGenerator/"/>
  <add key ="AwsAccessKey" value ="AKIAI7WGGT7IQ7IQT7AQ"/>
  <add key="AwsSecretKey" value="kt32XLem4QyDCXNycJ5uuGxC9ebB4WWoxjU7SzKi"/>
  <add key="AwsBucketName" value="fypstorage/Dummy"/>
  <add key ="AwsServiceUrl" value="http://s3-us-west-2.amazonaws.com"/>
  <add key ="AwsS3" value="https://s3-us-west-2.amazonaws.com/fypstorage/Dummy/"/>
</appSettings>
</configuration>