<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="FileTagGeneratorApi" value="http://restapi.us-west-2.elasticbeanstalk.com/api/FileTagGenerator/"/>
  <add key ="AwsAccessKey" value ="AKIAJDA4MSJNVGWOBOBA"/>
  <add key="AwsSecretKey" value="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"/>
  <add key="AwsBucketName" value="fypstorage/Files"/>
  <add key ="AwsServiceUrl" value="http://s3-us-west-2.amazonaws.com"/>
  <add key ="AwsS3" value="https://s3-us-west-2.amazonaws.com/fypstorage/Files/"/>
  <add key="LocalStorage" value="C:\Users\Jaya\Documents\FYPStorage"/>
</appSettings>
</configuration>